---
import AboutInfo from "src/components/about/about_info.astro";
import experiences from "../collections/wangcl.json";
import AboutHeader from "../components/about/about_header.astro";
import CloudMass from "../components/about/cloud_mass.astro";
import Header from "../components/header.astro";
import PasswordProtection from "../components/password-protection.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <PasswordProtection
    password="3213"
    storageKey="about_page_password"
    title="关于页面访问受限"
    description="请输入密码以查看关于页面内容"
  >
    <Header />
    <section class="max-w-5xl mx-auto my-12 px-7 lg:px-6 z-10">
      <AboutHeader />
      <div class="py-10">
        {
          experiences.map((experience, index) => {
            const isLastItem = index === experiences.length;
            return (
              <>
                <div
                  class={`my-6 ${isLastItem ? "" : "border rounded-2xl hover:shadow-2xl hover:shadow-neutral-200 border-gray-200 dark:border-neutral-700 hover:bg-white transition-all ease-in-out duration-200 transform"}`}
                >
                  <AboutInfo
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                    showProjects={index === 0 ? 5 : 2}
                    directory={experience.directory}
                  />
                </div>
              </>
            );
          })
        }
      </div>
    </section>
    
    <CloudMass />
  </PasswordProtection>
</Layout>