---
import TiltedCard from "./TiltedCard.tsx";
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>作品集</title>
        <Fragment set:html={import.meta.env.HEADER_INJECT} />
    </head>
    <body class="antialiased bg-white dark:bg-neutral-950 min-h-screen flex items-center justify-center">
        <TiltedCard
                client:load
                imageSrc="https://i.scdn.co/image/ab67616d0000b273d9985092cd88bffd97653b58"
                altText="Kendrick Lamar - GNX Album Cover"
                captionText="Kendrick Lamar - GNX"
                containerHeight="300px"
                containerWidth="300px"
                imageHeight="300px"
                imageWidth="300px"
                rotateAmplitude={12}
                scaleOnHover={1.2}
                showMobileWarning={false}
                showTooltip={true}
                displayOverlayContent={true}
            />
        <Fragment set:html={import.meta.env.FOOTER_INJECT} />
    </body>
</html>
